<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Act_01.Properties.Settings.TuViajeFindeCursoConnectionString"
            connectionString="Host=localhost;Database=TuViajeFindeCurso;Username=postgres;Password=A123456a"
            providerName="Npgsql" />
        <add name="Act_01.Properties.Settings.EmpleadosDB" connectionString="Host=localhost;Database=empleados;Username=postgres;Password=A123456a"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>